<div class="grid">
  <div class="col-12">
    <p-card
      styleClass="shadow-3 m-5 text-indigo-800"
      header="Produtos em estoque"
    >
      <p-table
        #productsTable
        [value]="products"
        [rows]="10"
        [paginator]="true"
        [responsive]="true"
        [globalFilterFields]="['name', 'amount']"
        [tableStyle]="{ 'min-width': '75rem' }"
        [(selection)]="productSelected"
        [rowHover]="true"
        [showCurrentPageReport]="true"
        dataKey="id"
        currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} produtos"
      >
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="name">
              <div class="flex justify-content-between align-items-center">
                <div class="flex justify-content-between align-items-center">
                  Nome
                </div>
                <div class="flex justify-content-between align-items-center">
                  <p-sortIcon field="name"></p-sortIcon>
                  <p-columnFilter
                    type="text"
                    field="name"
                    display="menu"
                    matchMode="contains"
                    [showMatchModes]="false"
                    [showOperator]="false"
                    [showAddButton]="false"
                  >
                  </p-columnFilter>
                </div>
              </div>
            </th>

            <th pSortableColumn="amount">
              <div class="flex justify-content-between align-items-center">
                <div class="flex justify-content-between align-items-center">
                  Quantidade
                </div>
                <div class="flex justify-content-between align-items-center">
                  <p-sortIcon field="amount"></p-sortIcon>
                  <p-columnFilter
                    type="text"
                    field="amount"
                    display="menu"
                    matchMode="contains"
                    [showMatchModes]="false"
                    [showOperator]="false"
                    [showAddButton]="false"
                  >
                  </p-columnFilter>
                </div>
              </div>
            </th>

            <th pSortableColumn="price">
              <div class="flex justify-content-between align-items-center">
                <div class="flex justify-content-between align-items-center">
                  Preço
                </div>
                <div class="flex justify-content-between align-items-center">
                  <p-sortIcon field="price"></p-sortIcon>
                  <p-columnFilter
                    type="text"
                    field="price"
                    display="menu"
                    matchMode="contains"
                    [showMatchModes]="false"
                    [showOperator]="false"
                    [showAddButton]="false"
                  >
                  </p-columnFilter>
                </div>
              </div>
            </th>

            <th pSortableColumn="description">
              <div class="flex justify-content-between align-items-center">
                <div class="flex justify-content-between align-items-center">
                  Descrição
                </div>
                <div class="flex justify-content-between align-items-center">
                  <p-sortIcon field="description"></p-sortIcon>
                  <p-columnFilter
                    type="text"
                    field="description"
                    display="menu"
                    matchMode="contains"
                    [showMatchModes]="false"
                    [showOperator]="false"
                    [showAddButton]="false"
                  >
                  </p-columnFilter>
                </div>
              </div>
            </th>

            <th pSortableColumn="category.name">
              <div class="flex justify-content-between align-items-center">
                <div class="flex justify-content-between align-items-center">
                  Categoria
                </div>
                <div class="flex justify-content-between align-items-center">
                  <p-sortIcon field="category.name"></p-sortIcon>
                  <p-columnFilter
                    type="text"
                    field="category.name"
                    display="menu"
                    matchMode="contains"
                    [showMatchModes]="false"
                    [showOperator]="false"
                    [showAddButton]="false"
                  >
                  </p-columnFilter>
                </div>
              </div>
            </th>

            <th>
              <div class="flex justify-content-center">
                <p-button
                  styleClass="p-button-info"
                  icon="pi pi-plus"
                  label="Adicionar"
                  pTooltip="Adicionar produto"
                  tooltipPosition="top"
                  (onClick)="handleProductEvent(addProductEvent)"
                >
                </p-button>
              </div>
            </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-product>
          <tr>
            <td>{{ product?.name }}</td>
            <td>{{ product?.amount }}</td>
            <td>{{ product?.price | currency: "BRL" }}</td>
            <td [pTooltip]="product?.description" tooltipPosition="top">
              {{ product?.description | shorten: 25 }}
            </td>
            <td>{{ product?.category?.name }}</td>
            <td>
              <div
                class="flex justify-content-center gap-3 align-content-center align-items-center"
              >
                <button
                  pButton
                  pRipple
                  icon="pi pi-pencil"
                  class="p-button-rounded p-button-warning"
                  pTooltip="Editar produto"
                  tooltipPosition="top"
                  (click)="handleProductEvent(editProductEvent, product?.id)"
                ></button>
                <button
                  pButton
                  pRipple
                  icon="pi pi-trash"
                  class="p-button-rounded p-button-danger"
                  pTooltip="Remover produto"
                  tooltipPosition="top"
                  (click)="handleDeleteProduct(product?.id, product?.name)"
                ></button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </div>
</div>
