<app-toolbar-navigation></app-toolbar-navigation>

<div class="grid">
  <div class="col-12">
    <!-- Gráfico de Produtos em Estoque -->
    <p-card
      header="Quantidade de produtos em estoque"
      styleClass="shadow-3 m-5 text-indigo-800"
    >
      <p-chart
        type="bar"
        [data]="productsChartDatas"
        [options]="productsChartsOptions"
      ></p-chart>
    </p-card>
  </div>
</div>
