<!-- Formulário de novo produto -->
<div *ngIf="productAction?.event?.action === addProductAction">
  <form [formGroup]="addProductForm" (ngSubmit)="handleSubmitAddProduct()">
    <div class="card flex flex-colunm md:flex-column gap-3">
      <!-- Nome do produto -->
      <input pInputText placeholder="Nome" formControlName="name" />
      <!-- Categoria do produto -->
      <p-dropdown
        styleClass="w-full"
        [options]="categoriesDatas"
        [(ngModel)]="selectedCategory"
        optionLabel="name"
        optionValue="id"
        placeholder="Selecione uma categoria"
        formControlName="category_id"
      ></p-dropdown>
      <!-- Preço do produto -->
      <input pInputText placeholder="Preço" formControlName="price" />
      <!-- Descrição do produto -->
      <input pInputText placeholder="Descrição" formControlName="description" />
      <!-- Quantidade do produto -->
      <input
        pInputText
        type="number"
        placeholder="Quantidade"
        formControlName="amount"
      />

      <div
        class="flex flex-row justify-content-center align-content-center align-items-center m-1"
      >
        <p-button
          [disabled]="!addProductForm.valid"
          type="submit"
          label="Concluir"
        ></p-button>
      </div>
    </div>
  </form>
</div>

<!-- Formulário de editar produto -->
<div *ngIf="productAction?.event?.action === editProductAction">
  <form [formGroup]="editProductForm" (ngSubmit)="handleSubmitEditProduct()">
    <div class="card flex flex-column md:flex-column gap-3">
      <input pInputText placeholder="Nome" formControlName="name" />
      <div *ngIf="renderDropdown">
        <p-dropdown
          styleClass="w-full"
          [options]="categoriesDatas"
          [(ngModel)]="selectedCategory"
          optionLabel="name"
          optionValue="id"
          formControlName="category_id"
        ></p-dropdown>
      </div>
      <input pInputText placeholder="Preço" formControlName="price" />
      <input pInputText placeholder="Descrição" formControlName="description" />
      <input
        pInputText
        type="number"
        placeholder="Quantidade"
        formControlName="amount"
      />

      <div
        class="flex flex-row justify-content-center align-content-center align-items-center"
      >
        <p-button
          [disabled]="!editProductForm.valid"
          type="submit"
          label="Concluir"
        ></p-button>
      </div>
    </div>
  </form>
</div>

<div *ngIf="productAction?.event?.action === saleProductAction">
  <form [formGroup]="saleProductForm" (ngSubmit)="handleSubmitSaleProduct()">
    <div class="card flex flex-column md:flex-column gap-3">
      <p-dropdown
        [options]="productsDatas"
        [(ngModel)]="saleProductSelected"
        styleClass="w-full"
        optionLabel="name"
        optionValue="id"
        placeholder="Selecione um produto"
        formControlName="product_id"
      ></p-dropdown>

      <input
        type="number"
        pInputText
        placeholder="Quantidade"
        formControlName="amount"
      />

      <div
        class="flex flex-row justify-content-center align-content-center align-items-center"
      >
        <p-button
          [disabled]="!saleProductForm.valid"
          type="submit"
          label="Concluir"
        ></p-button>
      </div>
    </div>
  </form>
</div>
